{% extends 'libros/base.html' %}

{% block title %}Listado de libros{% endblock %}

{% block content %}
  <div class="lista-libros">
    <h1>Biblioteca</h1>

    <form method="get" action="" class="buscador">
      <input type="text" name="q" placeholder="Buscar por título o autor" value="{{ query }}">
      <button type="submit">Buscar</button>
    </form>

    <ul>
      {% for libro in libros %}
        <li>
          <div class="info-libro">
            <a href="{% url 'libro_detalle' libro.id %}">
              <strong>{{ libro.titulo }}</strong>
            </a>
            <span class="autor">{{ libro.autor }}</span>
          </div>
          <div class="rating">
            {% for i in "12345" %}
              {% with i|slice:":1" as num %}
                {% if num == "1" and libro.calificacion|default:0 >= 1 %}
                  <label>⭐️</label>
                  <!-- <label>★</label> -->
                {% elif num == "2" and libro.calificacion >= 2 %}
                  <label>⭐️</label>
                {% elif num == "3" and libro.calificacion >= 3 %}
                  <label>⭐️</label>
                {% elif num == "4" and libro.calificacion >= 4 %}
                  <label>⭐️</label>
                {% elif num == "5" and libro.calificacion >= 5 %}
                  <label>⭐️</label>
                {% else %}
                  <label>✩</label>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </div>
        </li>
      {% empty %}
        <li>Nada que mostrar por aquí.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}